[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"

[packages]
flask = "*"
marshmallow = "*"
psycopg2-binary = "*"
flask-cli = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
pytest = "*"
flask-migrate = "*"
coverage = "*"
flask-cors = "*"
flask-bcrypt = "*"
pyjwt = "*"
flask-restful = "*"
jose = "*"

[requires]
python_version = "3.7"
